.section1 {
    height: 100vh;
}

.section2--card--container {
    width: 70vw;
    display: flex;
}

.section4--cards-container {
    display: flex;
    height: 360px;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.section4--cards-container_button {
    display: none;
}