header img {
    width: 350px;
    height: 50px;
    margin-top: 60px;
    align-self: center;
}

.section2--card--container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section1 {
    height: 110vw;
}

.section1--container-tables {
    gap: 30px;
}

.table2 {
    display: grid;
}

.boton {
    display: none;
}

.section2--container {
    height: 70vh;
}

.section3--container {
    background-color: black;
    background: url('../img/bitcoinbaby2x.jpg') no-repeat center/cover;
}

.section4--cards-container_button {
    display: none;
}

.footer--container-images {
    grid-row: span 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-paragraph {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
}

.footer--container-images img {
    width: 120px;
}